header.siteHeader
  .wrapper
    .siteHeader__contacts
      ul.social
        li.social__item
          a.social__href(href='javascript:void(0);') fb
        li.social__item
          a.social__href(href='javascript:void(0);') tw
        li.social__item
          a.social__href(href='javascript:void(0);') g+
        li.social__item
          a.social__href(href='javascript:void(0);') ln
      a.header__telefone(href='tel:+4499151012545') +44 99151012545
      a.header__email(href='mailto:contact@bluelance.com') contact@bluelance.com
    .mainHeader
      .logo Craft Lance
      nav.mainHeader__nav
        ul.nav
          li.nav__item
            a.nav__href(href='javascript:void(0);') Products
          li.nav__item
            a.nav__href(href='javascript:void(0);') Solutions
          li.nav__item
            a.nav__href(href='javascript:void(0);') Support
      a.btn.mainHeader__btn(href='javascript:void(0);') Sing in