section.section.community
  .wrapper
    .container
      h1.section__header Community Sign Up
      .card.community__card
        .card__list
          h2 Signup Process
          ol
            li User enters email address
            li Clicks on “Sign up for free”
      .community__selector
        button.community__btn.community__btn-singIn(type='button') Community Edition
        button.community__btn.community__btn-complete(type='button') Complete Signup Process
        button.community__btn.community__btn-singUp(type='button') Sign up