section.section.price
  .wrapper
    h1.section__header Affordable Services Package
    .switcher
      input(id='check1' type='radio' name='switch' checked)
      label(for='check1') Business Edition
      span or
      input(id='check2' type='radio' name='switch')
      label(for='check2') Community Edition
    .price__table
      .item
        h4.item__header basic
        .item__price
        ul
          li 20 Keyword
          li No Time Tracking
          li 230 - Man Hour
          li News Letter Available
        a.btn(href='javascript:void(0);') purchase
