mixin item(imgClass)
  .item
    i.item__img(class = imgClass)
    h4.item__header Community Edition
    p.item__desc Visually explore your data through a free-form drag-and-drop canvas,
      |a broad range of modern data visualizations, and an easy-to-use report authoring experience.